/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

html,body {
    padding:0;
    margin:0;
    height:100%;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
