<div class="row">
    <mat-card class="column mat-card-size" color="primary">
        <mat-card-title>
            This is where you will order a car
        </mat-card-title>
        <div class="center">
            <mat-card-content class="form-container">
                <div class="large-column center">
    
                    <div class="form-row center">
                        <div class="form-column">
                            <mat-form-field appearance="fill" class="form-input-size">
                                <mat-label>
                                    Current location
                                </mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
    
                        <div class="form-column">
                            <mat-form-field appearance="fill" class="form-input-size">
                                <mat-label>
                                    Size
                                </mat-label>
                                <mat-select>
                                    <mat-option value="2">2</mat-option>
                                    <mat-option value="4">4</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div> 
    
                    <div>
                        Optional:
                    </div> 
    
                    <div class="form-row center">
                        <div class="form-column">
                            <mat-form-field appearance="fill" class="form-input-size">
                                <mat-label>
                                    Brand
                                </mat-label>
                                <mat-select>
                                    <mat-option value="Opal">Opal</mat-option>
                                    <mat-option value="Opal">Tesla</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
    
                        <div class="form-column">
                            <mat-form-field appearance="fill" class="form-input-size">
                                <mat-label>
                                    Accommodation
                                </mat-label>
                                <mat-select>
                                    <mat-option value="1">None</mat-option>
                                    <mat-option value="2">Wheelchair accessible</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>       
                </div>
                 
                <div class="small-column center">                    
                    <button mat-raised-button color="primary" class="order-button">Call a car</button>
                </div>
    
            </mat-card-content>
        </div>

        
    </mat-card>

    <mat-card class="column mat-card-size" color="primary">
        <div *ngIf = "car; else loading">
            <mat-card-title>
                A car is on its way!
            </mat-card-title>
            <mat-card-subtitle>
                You will receive a notification when it's here.
            </mat-card-subtitle>
            <mat-card-content>
                <p>
                    LICENSE PLATE: {{car.licensePlate}}
                </p>
                <p>
                    DISTANCE: {{car.distance | number: '1.0-2'}} KILOMETERS
                </p>
                <br/>
                <p>
                    Extra information
                </p>
                <p> 
                    BRAND: {{car.brand}} 
                </p>
                <p>
                    TYPE: {{car.type}}
                </p>
            </mat-card-content>
        </div>
        
        <ng-template #loading>
            <mat-spinner></mat-spinner>
        </ng-template>
    
    </mat-card>

</div>



