.center {
    margin-left: auto;
    margin-right: auto;
}

.mat-card-size {
    margin: 16px;
    padding: 24px;
}

.form-input-size {
    width: 90%;
}

.order-button {
    margin: 8px;
    height: 100% !important;
}


@media only screen and (min-width: 1280px) {
    .mat-card-size {
        margin: 16px;
        padding: 24px;
    }

    .row {
        display: flex;
        flex-direction: row;
    }
      
    .column {
        flex: 50%;
    }

}

@media only screen and (max-width: 1280px) {

    .mat-card-size {
        margin: 16px;
        padding: 24px;
    }

    .row {
        display: flex;
        flex-direction: column;
    }
      
    .column {
        flex: 50%;
    }

}

@media only screen and (min-width: 640px ) {

    .form-row {
        display: flex;
        flex-direction: row;
    }
      
    .form-column {
        padding: 8px;
        flex: 50%;
    }

    .form-container {
        display: flex;
        flex-direction: row;
    }
    
    .large-column {
        flex: 80%;
    }
    
    .small-column {
        flex: 20%
    }

}

@media only screen and (max-width: 640px) {

    .form-row {
        display: flex;
        flex-direction: row;
    }
      
    .form-column {
        padding: 8px;
        flex: 50%;
    }

    .form-container {
        display: flex;
        flex-direction: column;
    }
    
    .large-column {
        flex: 80%;
    }
    
    .small-column {
        flex: 20%
    }

}

@media only screen and (max-width: 520px) {

    .form-row {
        display: flex;
        flex-direction: row;
        
        flex-direction: column;
    }
      
    .form-column {
        padding: 8px;
        flex: 50%;
    }

    .form-container {
        display: flex;
    }
    
    .large-column {
        flex: 80%;
    }
    
    .small-column {
        flex: 20%
    }

}





